<!DOCTYPE html>
<html>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <head>
        <center>
            <title>Upload CSV</title>
        </center>
    </head>
<body>
    <center>
        <h1>Upload CSV File</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                    <button type="submit">Upload</button>
            </form>
    </center>
    </br></br></br></br></br></br></br></br></br></br></br></br>
</body>
</html>
