<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Data Analysis</title>
</head>

<body>
    <center>
    <h1>Data Analysis Results</h1>
    <h2>Head</h2>
    {{ head|safe }}
    <h2>Description</h2>
    {{ description|safe }}
    <h2>Missing Values</h2>
    {{ missing_values|safe }}

    <h2>Histograms</h2>
    {% for histogram in histograms %}
        <img src="data:image/png;base64,{{ histogram }}" />
    {% endfor %}

    </center>
</body>
</html>
